{$LAB_DOMAIN} {
    encode zstd gzip
    basic_auth {
        {$LAB_USERNAME} {$LAB_PASSWORD_HASH}
    }
    reverse_proxy app:8501
    header {
        X-Content-Type-Options nosniff
        Referrer-Policy no-referrer
        X-Frame-Options DENY
    }
}
